@model ASPWarehouse.ViewModels.ProductCreateEditViewModel

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Name, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Product.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Product.Description, "", new { @class = "text-danger" })
            </div>
        </div>



<div class="form-group">
    @Html.LabelFor(model => model.Product.ProductTypeId, "ProductTypeId", htmlAttributes: new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Product.ProductTypeId, Model.ProductTypeSelectList, htmlAttributes: new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.Product.ProductTypeId, "", new {@class = "text-danger"})
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.WorkIds, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.ListBoxFor(model => model.WorkIds, Model.WorkMultiSelectList, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.WorkIds, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.WarehouseIds, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.ListBoxFor(model => model.WarehouseIds, Model.WarehouseMultiSelectList, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.WarehouseIds, "", new { @class = "text-danger" })
    </div>
</div>
<div>
    @Html.ActionLink("Add a diffrent product type", "Create", "ProductTypes")
</div>

<p>
    @Html.ActionLink("Add work to this item", "Create")
</p>
